NewsAgent/Service References/VelesConflictReporting/Reporting1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://api.velesconflict.com/Reporting/Reporting.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/VelesConflictDataReporting" />
  <xs:element name="RegisterDevice">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeviceID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterDeviceResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AddGameUsageStastics">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/VelesConflictDataReporting" minOccurs="0" name="stats" nillable="true" type="q1:GameUsageStastics" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddGameUsageStasticsResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AddMenuUsageStastics">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/VelesConflictDataReporting" minOccurs="0" name="stats" nillable="true" type="q2:MenuUsageStatistic" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddMenuUsageStasticsResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AddBatchMenuUsageStastics">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/VelesConflictDataReporting" minOccurs="0" name="stats" nillable="true" type="q3:ArrayOfMenuUsageStatistic" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddBatchMenuUsageStasticsResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AddBatchGameUsageStastics">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/VelesConflictDataReporting" minOccurs="0" name="stats" nillable="true" type="q4:ArrayOfGameUsageStastics" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddBatchGameUsageStasticsResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLatestNews">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="locale" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLatestNewsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetLatestNewsResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>